.sub-chapter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em 0;
}

.sub-chapter h3 {
  font-size: 1.5em;
  margin: .25em;
}

.ref-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1A3967;
  text-decoration: none;
  margin: .5em;
  width: 100%;
  max-width: 23em;
  border: .1em solid #1A3967;
  border-radius: 0.3125em;
  box-shadow: 0 1.875em 2.5em -1.25em var(--grayishBlue);
  background-color: #f9f9f9;
}

.ref-button:hover {
  color: #ed7f22;
  transition: color .3s ease;
}

.button-header {
  text-align: center;
  font-weight: bolder;
  font-size: .8em;
}

.button-link {
  font-size: .8em;
}

.bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.button-package {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #1A3967;
  text-decoration: none;
  margin: .5em;
  width: 100%;
  max-width: 23em;
}

@media (max-width: 50.625em) {
  .bundle {
    flex-direction: column
  }
}