.comparison {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comparison-side {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.versus-div {
    font-size: xx-large;
    justify-content: center;
    display: flex; 
    margin: -0.5em 0em 0em 0em; 
}


